@import "../../assets/style/index.scss";

.ProjectDetailContainer {
  .linkToHome {
    color: $color-principale;
    position: absolute;
    font-weight: 600;
    top: 20px;
    right: 30px;
  }
  .mainProjectDetail {
    margin: 50px 100px 20px;
    @include display-style;
    flex-direction: column;
    align-items: center;
    h2 {
      @include style-h2;
      font-size: 40px;
    }
  }
  .infosContainer {
    @include display-style;
    align-items: center;
    width: 100%;
    @include style-section;
    gap: 15px;
    max-height: 550px;
    max-width: 80%;
    .photoLinkContainer {
      @include display-style;
      flex-direction: column;
      width: 50%;
      align-items: center;
      max-height: 500px;
    }
    .linkSite {
      a {
        margin-right: 15px;
        @include style-icon;
        font-size: 14px;
      }
    }
    .detailContainer {
      @include display-style;
      flex-direction: column;
      width: 50%;
      gap: 30px;
      h3 {
        font-size: 32px;
        color: $underline-color;
      }
      p,
      ul {
        padding: 5px 15px;
      }
    }
  }
  .sectionContact {
    padding: 0 150px;
    width: 100%;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .ProjectDetailContainer {
    .linkToHome {
      top: 5px;
      right: 10px;
    }
    .mainProjectDetail {
      margin: 40px 20px 0;
      h2 {
        font-size: 32px;
      }
      .infosContainer {
        flex-direction: column;
        padding: 15px;
        height: auto;
        margin-bottom: 20px;
        max-width: 100%;
        .photoLinkContainer {
          width: 90%;
          height: 50%;
          .carousel-root {
            width: 100%;
            height: 50%;
          }
          img {
            height: 300px;
          }
        }
        .detailContainer {
          width: 100%;
          gap: 10px;
          h3 {
            font-size: 18px;
          }
          p,
          ul {
            padding: 0 5px;
            font-size: 12px;
          }
        }
      }
    }
    .sectionContact {
      padding: 20px;
    }
  }
}
