@import "../../assets/style/index.scss";

.ProjectDetailContainer {
  .linkToHome {
    color: $color-principale;
    position: absolute;
    font-weight: 600;
    top: 20px;
    right: 30px;
  }
  .mainProjectDetail {
    margin: 100px 150px;
    @include display-style;
    flex-direction: column;
    align-items: center;
    h2 {
      @include style-h2;
      font-size: 50px;
    }
  }
  .infosContainer {
    @include display-style;
    align-items: center;
    width: 100%;
    @include style-section;
    gap: 30px;
    .photoLinkContainer {
      @include display-style;
      flex-direction: column;
      width: 100%;
      gap: 25px;
      align-items: center;
      .carousel-root {
        width: 400px;
      }
      img {
        border: 1px solid $color-bg;
        border-radius: 5px;
        height: 400px;
        object-fit: cover;
        width: auto;
      }
    }
    .linkSite {
      a {
        margin: 20px;
        @include style-icon;
        font-size: 16px;
      }
    }
    .collapseContainer {
      width: 80%;
    }
  }
}
