@import "../../assets/style/index.scss";

.projectsContainer {
  @include style-section;

  h2 {
    @include style-h2;
  }
  .projectsGallery {
    @include display-style;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    .projectCard {
      background: linear-gradient(
        145deg,
        rgb(226, 232, 236),
        rgb(255, 255, 255)
      );
      box-shadow: 10px 10px 15px 0px #035c6f;
      align-items: center;
      @include display-style;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid rgb(192, 229, 234);
      padding: 20px;
      border-radius: 5px;
      width: 35%;
      height: 300px;
      .projectImageContainer {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        & :hover img {
          transform: scale(1.1);
        }
        img {
          width: 100%;
          height: 200px;
          transition: transform 0.3s;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    .projectOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(81, 93, 96, 0.7);
      @include display-style;
      justify-content: space-evenly;
      opacity: 0;
      transition: opacity 0.3s;
      flex-direction: column;
      &:hover {
        opacity: 1;
      }
      p {
        color: white;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    padding: 20px;
    .projectsGallery {
      gap: 20px;
      .projectCard {
        width: 100%;
        height: 250px;
        box-shadow: 3px 3px 15px -2px #035c6f;
      }
    }
  }
}
