* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

$color-bg: #f5f5f7;
$color-principale: white;
$color-icon: #9b9c9d;
$color-text: #909eac;
$underline-color: #239eba;

body {
  font-size: 16px;
  background-color: $color-principale;
  color: $color-text;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

@mixin display-style {
  display: flex;
}

@mixin style-section {
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: $color-bg;
}

p,
h3,
h1 {
  cursor: context-menu;
}

a:visited {
  color: $color-text;
}

@mixin style-icon {
  font-size: 32px;
  transition: all 0.5s ease-in-out;
  color: $color-icon;
  cursor: pointer;
  &:hover {
    color: $underline-color;
  }
}

@mixin style-h2 {
  position: relative;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
  cursor: context-menu;
  display: inline-block;
  text-shadow: -2px 1px 0 #e2e8ec;
  color: $underline-color;
  &:before {
    background: $color-text;
    bottom: 0.25em;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    transform: scale(0.9) skew(-25deg);
    z-index: -1;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
}
