* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  background-color: #1d1e20;
  color: #dadadb;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

$color-bg: #1d1e20;
$color-principale: white;
$color-icon: #9b9c9d;
$color-text: #dadadb;
$underline-color: #fedc2a;

@mixin display-style {
  display: flex;
}

p,
h3,
h1 {
  cursor: context-menu;
}

@mixin style-icon {
  font-size: 32px;
  transition: all 0.5s ease-in-out;
  color: $color-icon;
  cursor: pointer;
  &:hover {
    color: $underline-color;
  }
}

@mixin style-h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
  cursor: context-menu;
  display: inline-block;
  position: relative;
  text-shadow: -2px 1px 0 #000;
  &:before {
    background: $underline-color;
    bottom: 0.25em;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    transform: scale(0.9) skew(-25deg);
    z-index: -1;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
}
