@import "../../assets/style/index.scss";

/* Skills */
.skillsContainer {
  padding: 32px 0;
  h2 {
    @include style-h2;
  }
  .skillsGallery {
    @include display-style;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
      .iconSkill {
        font-size: 15px;
        cursor: pointer;
        svg{
          padding: 0;
          margin: 10px;
          @include style-icon;
        }
      }
 
  }
}

// @media screen and (max-width: 768px) {
//   .skillsContainer .skills {
//   }
// }
