@import "../../assets/style/index.scss";

/* Skills */
.skillsContainer {
  @include style-section;
  h2 {
    @include style-h2;
  }
  .skillsGallery {
    @include display-style;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

// @media screen and (max-width: 768px) {
//   .skillsContainer .skills {
//   }
// }
