@import "../../assets/style/index.scss";

/* About */
.aboutContainer {
  padding: 100px 0;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .about {
    @include display-style;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
    .aboutText {
      width: 50%;
      p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
    .aboutImage {
      width: 50%;
      .profilImage {
        overflow: hidden;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border: 2px solid $color-text;
        filter: grayscale(100%);
        transition: all 0.5s ease-in-out;
        &:hover {
          filter: grayscale(0%);
          transform: scale(1.02);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutContainer .about {
    flex-direction: column;
    .aboutText {
      width: 100%;
    }
    .aboutImage {
      width: 100%;
    }
  }
}
