@import "../../assets/style/index.scss";

.aboutContainer {
  @include style-section;
  .titleContainer {
    h2 {
      @include style-h2;
      margin: 0;
    }
  }
  .about {
    @include display-style;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    .aboutText {
      width: 50%;
      .linkPDF {
        text-align: center;
        a {
          color: $color-text;
          &:hover {
            color: $underline-color;
            border-bottom: 1px solid $underline-color;
          }
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }
    .aboutImage {
      width: 50%;
      @include display-style;
      .profilImage {
        margin: auto;
        overflow: hidden;
        width: 80%;
        height: 400px;
        object-fit: cover;
        border: 2px solid $color-text;
        filter: grayscale(100%);
        transition: all 0.5s ease-in-out;
        &:hover {
          filter: grayscale(0%);
          transform: scale(1.02);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    padding: 20px;
    h2 {
      @include style-h2;
      margin: 0;
    }
    .about {
      gap: 20px;
      flex-direction: column-reverse;
      .aboutText {
        width: 100%;
        text-align: justify;
        p {
          font-size: 16px;
        }
        a {
          align-self: center;
        }
      }
      .aboutImage {
        width: 100%;
        margin-top: 20px;
        .profilImage {
          width: 80%;
          height: 250px;
        }
      }
    }
  }
}
