@import "../../assets/style/index.scss";

.formContainer {
  width: 90%;
  margin-bottom: 15px;
  margin: auto;
  .formContact {
    @include display-style;
    flex-direction: column;
    label {
      text-align: start;
    }
    input,
    textarea,
    button {
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid $color-icon;
    }
    textarea {
      resize: none;
    }
    .btnSubmit {
      @include display-style;
      justify-content: center;
      button {
        cursor: pointer;
        padding: 2px;
        &:hover {
          background-color: $underline-color;
          color: $color-principale;
          border-radius: 5px;
        }
      }
    }
  }
}
