@import "../../assets/style/index.scss";

.headerContainer {
  @include display-style;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to left, #239eba, transparent);
  height: 50px;
  padding: 25px;
  ul {
    @include display-style;
    gap: 50px;
    a {
      color: $color-principale;
      &:hover {
        border-bottom: 2px solid $color-principale;
      }
    }
  }
  #icons {
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .headerContainer {
    justify-content: normal;
    flex-direction: row-reverse;
    height: 35px;
    padding: 15px;
    ul {
      position: fixed;
      right: -100%;
      top: 35px;
      flex-direction: column;
      background: rgba(35, 158, 186, 0.9);
      height: 100%;
      transition: 0.4s;
      gap: 15px;
      a {
        padding: 5px;
        font-size: 14px;
      }
    }
    .active {
      right: 0;
    }
    #icons {
      display: block;
      &:before {
        content: "\2630";
        color: $color-principale;
      }
    }
  }
}
