@import "../../assets/style/index.scss";

.introContainer {
  @include display-style;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  //   .avatarIntro {
  //     width: 200px;
  //     height: 200px;
  //     border-radius: 50%;
  //     object-fit: cover;
  //   }
  .introText {
    text-align: center;
    margin: 20px 0;
    width: 80%;
    p {
      font-size: 22px;
      margin-bottom: 20px;
    }
    .socialIcons {
      @include display-style;
      justify-content: center;
      align-items: center;
      gap: 30px;
      a {
        color: $color-icon;
        font-size: 32px;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: $color-text;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .introContainer .introText {
    width: 100%;
  }
}

// effet typing
$small-font-size: 16px;
$large-font-size: 24px;

.typing-effect {
  font-size: $large-font-size;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #000;
  }
}
