@import "../../assets/style/index.scss";

.introContainer {
  @include display-style;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  .introText {
    text-align: center;
    margin: 20px 0;
    .handEmojiContainer {
      display: inline-block;
      position: relative;
      .handEmoji {
        font-size: 32px;
        animation: wave 1s infinite linear;
        transform-origin: bottom;
      }
    }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
      margin-bottom: 20px;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s steps(30, end), blink-caret 0.5s;
    }
    .socialIcons {
      @include display-style;
      justify-content: center;
      align-items: center;
      gap: 30px;
      a {
        @include style-icon;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .introContainer .introText {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #000;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
