@import "../../assets/style/index.scss";

#sectionContact {
  padding: 0 150px;
  width: 100%;
  @include display-style;
  flex-direction: column;
  gap: 30px;
  h2 {
    @include style-h2;
  }
  .infos {
    @include display-style;
    justify-content: space-around;

    .emailContainer {
      width: 50%;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
      .iconEnveloppe {
        @include style-icon;
      }
    }
    .socialIcons {
      width: 50%;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
      a {
        margin: 15px;
        @include style-icon;
      }
    }
  }
}
