@import "../../assets/style/index.scss";

#sectionContact {
  padding: 0 150px;
  width: 100%;
  @include display-style;
  flex-direction: column;
  gap: 30px;
  h2 {
    @include style-h2;
  }
  .infos {
    @include display-style;
    justify-content: space-around;
    .emailContainer {
      width: 50%;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
      .iconEnveloppe {
        @include style-icon;
      }
    }
    .contactContainer {
      width: 50%;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #sectionContact {
    padding: 20px;
    .infos {
      flex-direction: column;
      gap: 10px;
      .emailContainer {
        width: 100%;
        p {
          margin: 5px;
        }
      }
      .contactContainer {
        width: 100%;
        p {
          margin: 5px;
        }
      }
    }
  }
}
